*,
*::before,
*::after {
  box-sizing: border-box;
}

.app-title {
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
}

main {
  margin-bottom: 80px;
}

.quiz-card {
  margin: 20px;
  padding: 20px;
  border: 5px solid #666;
  position: relative;
  background-color: #fdf0d5;
}

.quiz-bookmark {
  width: 20px;
  height: auto;
  position: absolute;
  top: 15px;
  right: 10px;
}

.quiz-question {
  text-align: center;
  font-size: 40px;
}

.show-answer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-answer-button {
  background-color: #f00;
}

.quiz-tag {
  color: #fff;
  background-color: #08f;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  border-top: #000 solid;
  padding: 5px;
}

a > img {
  width: 40px;
  height: 40px;
}

.navbar__selected {
  background-color: #0ff;
}
