.navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ccc;
  border-top: #000 solid;
  padding: 5px;
}

a > img {
  width: 40px;
  height: 40px;
}

.navbar__selected {
  background-color: #0ff;
}
